
h1{

	font-family: instrumentSerif;

}

.altura{

	height: 88vh !important;
	position: sticky !important;
	top: 85px !important;

}

.card h4{

	font-family: instrumentSerif;

}

.card img{

	border-radius: 15px;

}

body{

	font-family: instrumentSans;

}

.bg-purple{

    background-color: #F6E8F9 !important;

}

.border-purple{

    border: 2px solid #D08EDE ;

}

.w-max {

    width: 150px;
    height: 150px;

}


/***************************/
/**         Cards         **/
/***************************/


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.card{
	width: auto;
	height: auto;
	margin:30px auto;
    border-radius: 15px !important;
    box-shadow: 2px 2px grey ;
}
.detail{
	width: 450px;
	height: 170px;
	margin:9px auto;
}
.detail-images{
	width: 88px;
	height: 91px;
	text-align: center;
	color: #8b8b8b;
}
.card h3{
	color: #3b3b3b;
	font-size: 16px;
}
.card p{
	color: #787878;
	font-weight: 400;
}
.content-shield{
	width: 365px;
	border-top: solid 1px #dedede;
	margin:20px auto;
}
.card ul{
	margin-top: -5px;
}
.card ul li{
	display: inline;
	margin-right: 6px;
}
.card ul li a{
	color: #FFF;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #DEDEDE;
    border-radius: 2px;
    width: 30px;
    text-align: center;
}
.card ul li a:hover{
	background-color: #b1b1b1;
}


